@model IBSCardManager.Entities.Card

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Set)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Set)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardNumber)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variety)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variety)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeIssuer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeIssuer)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutographGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutographGrade)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CertNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CertNumber)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRookie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRookie)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAutograph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAutograph)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRelic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRelic)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCost)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PsaEstimate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PsaEstimate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyValue)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingPrice)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingStatus)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageBox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageBox)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageRow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageRow)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageBin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageBin)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FrontImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FrontImagePath)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BackImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BackImagePath)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyNotes)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CardId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
